/* 各セクション共通 */

.c-section {
    // タイトル
    &__ttl {
        font-size: 3.2rem;
        text-align: center;
        letter-spacing: -0.1em;
        margin-bottom: 14px;
        @include mq-down(xs) {
            font-size: 2.4rem;
        }
        &--en {//タイトル（英語）
            display: block;
            color: $color_sub;
            text-align: center;
        }
    }
}

