.l-footer {
    padding: 45px 0 49px;
    text-align: center;
    &__ttl {
        font-size: 2.4rem;
        line-height: 1.1;
        margin-bottom: 24px;
    }
    &__list {
        margin-bottom: 54px;
        @include mq-down(sm) {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
        }
    }
    &__item {
        display: inline-block;
        line-height: 1.7;
        &:first-child {
            @include mq-up(sm) {
                margin-right: 68px;
            }
        }
    }
    &__copy {
        font-size: 1.4rem;
        font-weight: normal;
    }
}